.App {
  text-align: center;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Landing-card {
  padding-top: 100px;
  align-items: flex-start;
}

.Landing-card>h1 {
  font-size: 60px !important;
  font-weight: bold;
  color: black;
  padding-bottom: 30px;
}

#criteria {
  margin-right: 10px;
}

#homeContainer {
  margin-top: 20px;
}

.button1 {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  background-color:Transparent;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}
.button1:hover{
  color:#000000;
  background-color:#FFFFFF;
}
@media all and (max-width:30em){
  .button1 {
  display:block;
  margin:0.4em auto;
  }
}

.input-info {
  /* padding-right: 50px;
  padding-left: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
