.App {
  text-align: center;
  font-family: "Century Gothic Regular";
}

@font-face {
  font-family: "Rama Gothic E Semibold";
  src: local("Rama Gothic E Semibold"),
    url(./fonts/Rama\ Gothic\ E\ W01\ SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Century Gothic Regular";
  src: local("Century Gothic Regular"),
    url(./fonts/CenturyGothic.ttf) format("truetype");
}

@font-face {
  font-family: "Century Gothic Bold";
  src: local("Century Gothic Bold"),
    url(./fonts/Century\ Gothic\ Bold.ttf) format("truetype");
}

.left-stuff {
  text-align: left;
}

.page-title {
  text-align: center;
  font-family: "Century Gothic Bold";
}

#nav-buttons {
  font-family: "Rama Gothic E Semibold";
  text-align: center;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
}

.App-header {
  background-color: #528055;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#attachDocButton {
  margin: 10px;
}

.Landing-card {
  padding-top: 100px;
  align-items: flex-start;
}

.Landing-card > h1 {
  font-family: "Rama Gothic E Semibold";
  font-size: 60px !important;
  color: black;
  padding-bottom: 20px;
}

#criteria {
  margin-right: 10px;
}

#homeContainer {
  margin-top: 5vh;
}

#helpBlock {
  color: black;
}

/* .input-page {
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 5vh;
  color: darkgreen;
} */

.input-card {
  /* margin-top: 5vh; */
  color: #008046;
}

#form-header {
  font-family: "Rama Gothic E Semibold";
  font-weight: bold;

  font-size: 40px !important;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

#social-worker-link {
  margin-top: 3vh;
}

#med-form-click-here {
  text-decoration: none;
}

.form-button {
  margin: 10px;
  outline: none;
}
